$RECYCLE.BIN/
*,cover
*.[56789ao]
*.a[56789o]
*.cab
*.cgo*.c
*.cgo*.go
*.db
*.egg
*.egg-info/
*.lnk
*.log
*.orig
*.out
*.pyc
*.pyo
*.rej
*.so
*.stackdump
*~
.
.*.swp
..
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.brackets.json
.cache/
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.DocumentRevisions-V100
.DS_Store
.DS_Store?
.env
.flaskenv
.fseventsd
.git
.github
.idea/
.idea/**
.jekyll-metadata
.LSOverride
.nfs.*
.pytest_cache/
.ruby-version
.sass-cache
.Spotlight-V100
.TemporaryItems
.tmp
.tmp.drivedownload
.tox/
.Trash
.Trashes
.venv
.VolumeIcon.icns
.vscode
/.bundle
/.sass-cache
/_site
/bin/
/build.out
/doc/articles/wiki/*.bin
/goinstall.log
/last-change
/misc/cgo/life/run.out
/misc/cgo/stdio/run.out
/misc/cgo/testso/main
/pkg//
/src/*.*/
/src/cmd/cgo/zdefaultcc.go
/src/cmd/dist/dist
/src/cmd/go/internal/cfg/zdefaultcc.go
/src/cmd/go/internal/cfg/zosarch.go
/src/cmd/internal/objabi/zbootstrap.go
/src/go/build/zcgo.go
/src/go/doc/headscan
/src/runtime/internal/sys/zversion.go
/src/unicode/maketables
/test.out
/test/garbage/*.out
/test/pass.out
/test/run.out
/test/times.out
/tmp
/vendor
/VERSION.cache
[56789a].out
[Dd]esktop.ini
__pycache__/
_cgo_*
_mailinglist
_obj
_test
_testmain.go
assets/vendor/clipboard/src
assets/vendor/clipboard/test
assets/vendor/qtip2/basic
assets/vendor/selectivizr/tests
build/
core
desktop.ini
Desktop.ini
dist/
docs/_build/
ehthumbs.db
ehthumbs_vista.db
env*
env/
Gemfile.lock
htmlcov/
Icon?
instance/
Network Trash Folder
node_modules
report*.html
Temporary Items
test/e2e/screenshots/
Thumbs.db
Thumbs.db:encryptable
venv/
node_modules/
juiceshop.sqlite
order_*.pdf
app/
!frontend/src/app
uploads/complaints/*.*
!uploads/complaints/.gitkeep
ftp/legal.md
package-lock.json
i18n/*.json
!frontend/src/assets/i18n/*.json
!data/static/i18n/*.json
.nyc_output/
.sass-cache/
cache/
logs/
vagrant/.vagrant/
JSON
JSON.map
.vscode/
out/
*.eml
*.iml
*.iws
*.swp
assets/
!frontend/src/assets/
config/*.yml
!config/addo.yml
!config/bodgeit.yml
!config/ctf.yml
!config/fbctf.yml
!config/default.yml
!config/juicebox.yml
!config/quiet.yml
!config/test.yml
!config/7ms.yml
!config/mozilla.yml
!config/unsafe.yml
